body {
    background-image: url('../images/With_Coffin.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    background-image: url('../images/page.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
    height: 85vh;
    min-width: 30vw;
    min-height: 85vh;
    position: absolute;
    right: 15px;
    top: 5vw;
}

.text {
    padding: auto;
    margin-left: 4%;
    margin-right: 4%;
    position: absolute;
}

img {
    width: 100vw;
    position: absolute;
    top: -5vw;
    left: -10vw;
    background: radial-gradient(#444B2D 0%, transparent 70%);
}

.back-button img {
    width: 10vw;
    position: relative;
    margin-top: 55vw;
    margin-left: 10vw;
}
