body {
    background-image: url('../images/Without_Coffin.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.coffin {
    background-image: url('../images/coffin.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 26vw;
    height: 60vh;
    min-width: 26vw;
    min-height: 60vh;
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}

.text-block {
    position: relative;
    top: 35%;
    bottom: 40%;
    left: 67%;
    align-items: center;
    transform: translate(-50%, -50%);
    font-family: 'LeHavre';
    font-size: xx-large;
    text-decoration: black;
}


.list {
    font-weight: normal;
    text-shadow: 2px 2px;
}

@font-face {
    font-family: LeHavre;
    src: url(../font/LeHavre.otf);
}

