body {
    background-image: url('../images/Without_Coffin.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.coffin {
    background-image: url('../images/coffin.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    height: 60vh;
    min-width: 35vw;
    min-height: 60vh;
    position: absolute;
    margin-left: 36%;
    margin-top: 10%;
}

.text-block {
    position: absolute;
    bottom: 40%;
    right: 8%;
    transform: translate(-50%, -50%);
}

