body {
    background-image: url('../images/With_Coffin.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    background-image: url('../images/page.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 80vh;
    min-width: 25vw;
    min-height: 80vh;
    position: absolute;
    right: 90px;
    top: 5vw;
}

.text {
    padding: auto;
    margin-left: 4%;
    margin-right: 4%;
    position: absolute;
    font-family: 'LeHavre';
    font-weight: normal;
    font-size: x-large;
}

img {
    width: 50vw;
    position: absolute;
    top: 7vw;
    left: 10vw;
    background: radial-gradient(#444B2D 0%, transparent 70%);
}

.back-button img {
    width: 10vw;
    position: absolute;
    margin-top: 30vw;
    margin-left: -5vw;
}

@font-face {
    font-family: LeHavre;
    src: url(../font/LeHavre.otf);
}
